@(flights: List[Flight])

@import controllers.admin._

@main("Flight System") {
    <div id="search">
        <div class="span6"></div>
        <div class="span6">
            <a href="@routes.FlightController.create()" class="btn btn-primary pull-right">
                添加航班
            </a>
        </div>
    </div>
    <table class="table table-striped index-table" id="data-table">
        <tbody>
            <th>编号</th><th>航空公司</th><th>航班日期</th><th>出发机场</th><th>到达机场</th><th>出发时间</th><th>到达时间</th><th></th><th></th>
            @for(flight <- flights) {
                <tr>
                    <td>@flight.id</td>
                    <td>@flight.airline.name</td>
                    <td>@flight.date.format("yyyy-MM-dd")</td>
                    <td>@flight.route.departAirport.name</td>
                    <td>@flight.route.arriveAirport.name</td>
                    <td>@flight.route.departTime.format("HH:mm")</td>
                    <td>@flight.route.arriveTime.format("HH:mm")</td>
                    <td>
                        <a href="@routes.FlightController.edit(flight.id)">
                            <i class="icon-pencil"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@routes.FlightController.delete(flight.id)" role="button" onclick='return confirm("你确定要删除 @flight.id 么？");'>
                            <i class="icon-remove"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}