@(routeForm : Form[Route])

@import helper._
@import helper.twitterBootstrap._
@import PlayMagic._

@main("Flight System") {
    @commons.error()
    <div class="row-fluid">
        <div class="span6">
            <h2>编辑航线信息</h2>
            @form(routes.RouteController.update(routeForm.get.id)) {
                @inputText(routeForm("id"), '_label -> "编号",  '_showConstraints -> false, 'readonly -> "readonly")
                @select(routeForm("departAirport.id"), options(Airport.options()), '_label -> "出发机场")
                @select(routeForm("arriveAirport.id"), options(Airport.options()), '_label -> "到达机场")
                @input(routeForm("departTime"), '_label -> "出发时间", '_showConstraints -> false) { (id, name, value, args) =>
                    <div class="controls input-append time-picker">
                        <input type="text" id="@id" name="@name" value="@value" data-format="hh:mm" @toHtmlArgs(args) />
                        <span class="add-on">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                            </i>
                        </span>
                    </div>
                }
                @input(routeForm("arriveTime"), '_label -> "到达时间", '_showConstraints -> false) { (id, name, value, args) =>
                    <div class="controls input-append time-picker">
                        <input type="text" id="@id" name="@name" value="@value" data-format="hh:mm" @toHtmlArgs(args) />
                        <span class="add-on">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                            </i>
                        </span>
                    </div>
                }
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">编辑</button>
                    <a href="@routes.RouteController.index()" class="btn">取消</a>
                </div>
            }
        </div>
        <div class="span6"></div>
    </div>
}