@(routeForm : Form[Route])

@import helper._
@import helper.twitterBootstrap._

@main("Flight System") {
    @commons.error()
    <div class="row-fluid">
        <div class="span6">
            <h2>添加航线</h2>
            @form(routes.RouteController.save()) {
                @select(routeForm("departAirport.id"), options(Airport.options()), '_label -> "出发机场",
                    '_default -> "---- 请选择一个机场 ----")
                @select(routeForm("arriveAirport.id"), options(Airport.options()), '_label -> "到达机场",
                    '_default -> "---- 请选择一个机场 ----")
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">添加</button>
                    <a href="@routes.RouteController.index()" class="btn">取消</a>
                </div>
            }
        </div>
        <div class="span6"></div>
    </div>
}