@(aircraftForm : Form[Aircraft])

@import helper._
@import helper.twitterBootstrap._

@main("Flight System") {
    @commons.error()
    <div class="row-fluid">
        <div class="span6">
            <h2>编辑飞机</h2>
            @form(routes.AircraftController.update(aircraftForm.get.id)) {
                @inputText(aircraftForm("id"), '_label -> "编号", 'readonly -> "readonly", '_showConstraints -> false)
                @inputText(aircraftForm("name"), '_label -> "名称", '_showConstraints -> false)
                @inputText(aircraftForm("first"), '_label -> "头等舱容量", '_showConstraints -> false)
                @inputText(aircraftForm("economy"), '_label -> "经济舱容量", '_showConstraints -> false)
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">编辑</button>
                    <a href="@routes.AircraftController.index()" class="btn">取消</a>
                </div>
            }
        </div>
        <div class="span6"></div>
    </div>
}