@(bookings: List[Booking])

@import controllers.booking._

@main("Flight System") {
    <h2>订单管理</h2>
    <table class="table" id="data-table">
        <tbody>
            <tr>
                <th>编号</th> <th>航班编号</th> <th></th> <th>金额</th>　<th></th>
            </tr>
            @for(booking <- bookings) {
                <tr class="order-row">
                    <td>@booking.id</td>
                    <td>@booking.tickets.get(0).flight.id</td>
                    <td></td>
                    <td>￥@booking.getPrice</td>
                    <td>
                    @if(booking.status == Status.UNPAID) {
                        <a href="@routes.BookController.pay(booking.id)">
                            <i class="icon-ok"></i> 付款
                        </a>
                        &nbsp;
                        <a href="@routes.BookController.delete(booking.id)">
                            <i class="icon-remove"></i> 取消
                        </a>
                    } else {
                        <i class="icon-ok"></i> 已付款
                    }
                    </td>
                </tr>
                @for(ticket <- booking.tickets) {
                    <tr>
                        <td></td>
                        <td>@ticket.passenger.name</td>
                        <td>@ticket.passenger.identify</td>
                        <td>￥@ticket.getPrice()</td>
                        <td>
                        @if(ticket.firstClass) {
                            头等舱
                        } else {
                            经济舱
                        }
                        </td>
                    </tr>
                }
                <tr class="split-row"></tr>
            }
        </tbody>
    </table>
}