@(airlineForm : Form[Airline])

@import helper._
@import helper.twitterBootstrap._

@main("Flight System") {
    <div class="row-fluid">
        <div class="span6">
            <h2>编辑航空公司</h2>
            @form(routes.AirlineController.update(airlineForm.get.id)) {
                @inputText(airlineForm("id"), '_label -> "编号", '_showConstraints -> false, 'readonly -> "readonly")
                @inputText(airlineForm("name"), '_label -> "名称", '_showConstraints -> false)
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">编辑</button>
                    <a href="@routes.AirlineController.index()" class="btn">取消</a>
                </div>
            }
        </div>
        <div class="span6"></div>
    </div>
}